/* https://colorhunt.co/palette/364f6b3fc1c9f5f5f5fc5185 */

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #364F6B;
    font-weight: 900;
}

.colored-section h1,
.colored-section h2,
.colored-section h3,
.colored-section em {
    color: #F5F5F5;
}

/* HEADING SECTION */
.section-title {
    font-size: 4rem;
    padding-bottom: 3%;
    text-align: left;
}

.medium-header {
    font-size: 2rem;
}

/* CONTAINERS SECTION */
.colored-section {
    background-color: #364F6B;
}

.white-section {
    background-color: #F5F5F5;
}

.container-fluid {
    padding: 2% 15%;
}

/* NAVBAR SECTION */
.navbar {
    padding-bottom: 5rem;
}

.navbar-brand {
    color: #F5F5F5;
    font-family: 'Bodoni Moda', serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-item {
    padding: 0 1rem;
}

.nav-link {
    color: #F5F5F5;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 300;
}

/* TITLE SECTION */

#title {
    position: relative;
}

#title .container-fluid {
    padding: 0 15% 3%;
}

.title-text {
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
}

.title-subtext {
    font-weight: 300;
    line-height: 1.5;
    padding: 5% 0 5%;
    text-align: left;
}

.download-button {
    margin: 5% 5% 10%;
}

.title-image {
    width: 100%;
}

/* FEATURES SECTION */

#features {
    background-color: white;
}

.feature-div {
    padding: 10% 5%;
}

.feat-icon {
    color: #364F6B;
    margin-bottom: 1rem;
}

.feat-icon:hover {
    color: #FC5185;
}

.feature-text {
    font-size: 1.2rem;
    color: #8f8f8f;
}

/* TESTIMONIAL SECTION */

.testimonial {
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 5% 10% 5% 10%;
    height: 10%;
}

.testimonial-pic {
    width: 15%;
}

.testimonial-id {
    font-size: 1.5rem;
}

/* PRICING SECTION */

.pricing-subtext {
    color: #8f8f8f;
    font-size: 1.5rem;
    text-align: left;
}

.pricing-col {
    padding-left: 0;
}

.pricing-card {
    margin-top: 1rem;
    height: 23rem;
}

.sign-button {
    width: 10rem;
    margin: 0 auto 1rem;
}

/* CTA SECTION */

.cta-title {
    text-align: center;
    padding: 5% 0 0;
}

/* FOOTER SECTION */
.links {
    color: #8f8f8f;
    line-height: 2;
    margin: 1% 5% 1%;
    text-decoration: none;
}

#footer {
    color: #8f8f8f;
}

/* MOBILE LAYOUT */
@media (max-width: 989px) {
    .container-fluid {
        padding: 3% 5%;                
    }

    .navbar-brand {
        font-size: 4rem;
        font-weight: 900;
    }

    .nav-item {
        padding: 0 1rem;
    }

    .nav-link {
        color: #F5F5F5;
        font-family: 'Montserrat';
        font-size: 3rem;
        font-weight: 300;
    }

    .medium-header {
        font-size: 3rem;
    }

    .title-text {
        font-size: 5rem;
        padding: 15% 0 0;
        text-align: center;
    }

    .title-subtext {
        font-weight: 300;
        font-size: 4rem;
        line-height: 4rem;
        text-align: center;
    }    

    .feature-div {
        padding: 1% 1%;
    }

    .feature-text {
        font-size: 2rem;
        color: #8f8f8f;
    }
}

@media (min-width: 990 and max-width: 1199px) {
    .section-title {
        font-size: 3rem;
        padding-bottom: 3%;
        text-align: center;
    }

    .medium-header {
        font-size: 2rem;
    }

    .title-text {
        text-align: center;
    }

    .title-subtext {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
    }

    p {
        font-size: 0.8rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .title-image {
        width: 60%;
    }

    .testimonial {
        font-size: 1.5rem;
        line-height: 1;
    }

    .testimonial-id {
        font-size: 0.9rem;
    }

    .pricing-card {
        height: 20rem;
    }
}